Source: launchy
Maintainer: André Roth <neolynx@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), dh-python, python3-setuptools, python3-all, git
Standards-Version: 3.9.7

Package: python3-launchy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Asyncio sub process wrapper
